.custom-theme {
  .mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: #ffffff !important;
  }

  .mat-form-field mat-label {
    color: #ffffff !important;
  }

  .mat-input-element:disabled,
  .mat-form-field-type-mat-native-select.mat-form-field-disabled .mat-form-field-infix::after {
    color: #ffffff !important;
  }

  .mat-form-field-label {
    color: #f5f5f5 !important;
  }

  .mat-form-field-underline {
    background-color: #f5f5f5 !important;
  }

  .mat-select-arrow {
    color: #f5f5f5 !important;
  }

  .mat-select-value-text  {
    color: #f5f5f5 !important;
  }
}
