<div class="content custom-theme">
    <div class="header">
        <div class="header-wrapper">
            <div class="logo-wrapper">
                <mat-icon class="shopping-logo"> shopping_basket </mat-icon>
                <span class="title">Products</span>
            </div>
            <div class="search-form-wrapper">
                <form autocomplete="off" [formGroup]="searchFrom">
                    <div class="row">
                        <div class="col-5">
                            <mat-form-field>
                                <input matInput placeholder="Product Name" formControlName="name">
                                <mat-error *ngIf="searchFrom['controls'].name.hasError('maxlength')">
                                    Please enter max. 30 character
                                </mat-error>
                                <mat-error *ngIf="searchFrom['controls'].name.hasError('pattern')">
                                    Please enter only letter
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-5">
                            <mat-form-field>
                                <mat-label>Product Type</mat-label>
                                <mat-select formControlName="type">
                                    <mat-option>None</mat-option>
                                    <mat-option *ngFor="let type of productTypes" [value]="type.name">{{ type.name }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-2 search-btn">
                            <button mat-icon-button aria-label="search" (click)="search()">
                                <mat-icon>search</mat-icon>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <app-add-to-cart></app-add-to-cart>
        </div>
    </div>
    <div class="products-wrapper">
        <div class="row">
            <div class="col-xs-12 col-lg-9">
                <div class="row">
                    <div class="col-xs-12 col-md-6 col-lg-4 col-xl-3" *ngFor="let product of products">
                        <app-product-card [product]="product"></app-product-card>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-lg-3">
                <app-cart></app-cart>
            </div>
        </div>
    </div>
</div>