<div class="session-form-hold">
  <mat-card>
    <mat-card-content>
      <div class="session-form-header">
        <img class="logo" src="../../../../assets/img/login-logo.png" alt="">
        <p class="title">Sign in to your account</p>
      </div>
      <form [formGroup]="registerForm" autocomplete="off">
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>User Name</mat-label>
          <input matInput formControlName="loginName">
          <mat-icon matSuffix class="material-icons-outlined">account_box</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password">
          <mat-icon matSuffix class="material-icons-outlined">vpn_key</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Password (Confirm)</mat-label>
          <input matInput type="password" formControlName="passwordConfirm">
          <mat-icon matSuffix class="material-icons-outlined">vpn_key</mat-icon>
        </mat-form-field>
        <div class="col-12 remember-me-wrapper">
          <mat-checkbox>Accept <a href="#">terms and conditions</a></mat-checkbox>
        </div>
        <div class="message" *ngIf="errorMessage">
          {{ errorMessage }}
        </div>
        <div class="login-btn-wrapper">
          <button mat-raised-button color="primary" class="login-btn text-uppercase" (click)="createAccount()">Create an Account</button>
        </div>
      </form>
      <div class="login-wrapper">
        <span class="text">Already have an account?</span>
        <a class="link" href="/auth/login">Login</a>
      </div>
    </mat-card-content>
  </mat-card>
</div>