@import "~styles/main.scss";

.session-form-hold {
    width: 100%;
    margin: 0 auto;

    @include media-breakpoint-down(sm) {
        
        mat-card {
            box-shadow: none;
            height: 100vh;
        }
     }

    @include media-breakpoint-up(md) {
        min-width: 400px;
        max-width: 400px;
     }

     .session-form-header {
         text-align: center;
     }

    .logo {
        width: 100px;
        margin: 24px auto;
    }

    .title {
        font-size: 21px;
        color: #6c757d;
        margin-bottom: 24px;
        text-transform: uppercase;
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        mat-form-field.mat-form-field {
            width: 100%;
        }

        .remember-me-wrapper {
            padding: 0;
        }

        .login-btn-wrapper {
            width: 100%;

            .login-btn {
                width: 100%;
                margin: 16px 0;
                padding: 10px 0;
                border-radius: 5px;
            }
        }

    }

    .login-wrapper {
        flex-direction: column;
        display: flex;
        align-items: center;
        margin-bottom: 24px;
    }
}
