@import "~styles/main.scss";

.page-wrap {
  @include media-breakpoint-up(md) {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 40px 1rem;
    background-color: #222a45;
  }
}
